@keyframes underline {
  0% {
    transform: scaleX(0);
    transform-origin: top left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: top left;
  }
  51% {
    transform-origin: top right;
  }
  100% {
    transform: scaleX(0);
    transform-origin: top right;
  }
}

@keyframes shake {
  10% {
    transform: translate3d(1px, 0, 0);
  }
  30% {
    transform: translate3d(-4px, 0, 0);
  }
  50% {
    transform: translate3d(4px, 0, 0);
  }
  70% {
    transform: translate3d(-1px, 0, 0);
  }
  90% {
    transform: translate3d(1px, 0, 0);
  }
}
